body{
background-color: rgb(136, 61, 206);

color: white



}

header{
background-color: rgb(109, 28, 163);
height: 35px;
windth: 100%;
margin-left: -20px;
margin-right: -20px;


}

header h3{
 padding-left: 15px;
 color:rgb(245, 243, 247);
 text-align: center;
 font-size: 30px;
} 

nav ul{
list-style: none;
margin: 0;
padding: 0;
display: flex;


}
nav ul li{
   margin-left: 20px;
   font-size: 20px;

}

header nav ul li a{


    color:black
    text-decoration; none;
    transition; color 0.5s;

}
header nav ul li a:hover{
    color: rgb(255, 0, 43);
    
}